
#btn_play {
  position: fixed;
  display: block;
  right: 0;
  bottom: 0;
  margin-right: 40px;
  margin-bottom: 40px;
  z-index: 900;
}

.politician {

}
.politician .mdl-grid {
  padding: 0;
}

.politician-photo {
  padding: 0;
  margin: 0;
  min-height: 450px;
  /*height: 400px;*/
  /*background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Anwar_Ibrahim.jpg/398px-Anwar_Ibrahim.jpg') center / cover;*/
  background-position: center;
  background-size: cover;
  /*https://pbs.twimg.com/profile_images/2491710661/cCLR03m3*/

}

.politician-description {
  padding: 10px;
  /*height: 400px;*/
}

.about-box {
  padding: 20px 20px 0 20px;
  position: relative;
}
.about-box h6 {
  margin-top: 0;
}
.about-box p {
  font-size: 12px;
  line-height: 20px;
}



.politician-description h3 {
  margin-top: 10px;
}

.politician-matches {

}

.matches, .projects, .vote {
  width: 100%;
}

.matches table {
  width: 100%;
}


.vote {
  margin-top: 20px;
  margin-bottom: 40px;
}
.vote > .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
  padding: 8px 0;
}

.companies .votes {
  width: 200px;
}

.companies button {
  width: 200px;
  margin-bottom: 10px;
}

.mdl-data-table {
  white-space: normal;
}

.companies .result p {
  font-size: 11px;
  line-height: 18px;
  margin-top: 10px;
}

.chart {
  height: 30px;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #ededed
}
.chart span {
    display: inline-block;
    height:100%;
    margin: 0;
    padding: 0;
}
.green {
    background-color: rgb(60, 165,58); !important
}
.yellow {
    background-color: rgb(254,236,22); !important
}
.red {
    background-color: rgb(238,43,41); !important
}





.header-ribbon {
  width: 100%;
  height: 40vh;
  /*background-color: #3F51B5;*/
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.main {
  margin-top: -35vh;
  margin-bottom: 80px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}


.mobile-title {
  display: none !important;
}



.header .mdl-menu__container {
  z-index: 50;
  margin: 0 !important;
}


.header {
  overflow: visible;
  /*background-color: white;*/
}

.header .mdl-navigation__link {
  font-weight: 700;
  font-size: 14px;
}

.navigation-container {
  /* Simple hack to make the overflow happen to the left instead... */
  direction: rtl;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
  width: 500px;
  -webkit-transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1),
      width 0.2s cubic-bezier(0.4, 0, 0.2, 1);
          transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1),
      width 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation {
  /* ... and now make sure the content is actually LTR */
  direction: ltr;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 800px;
}



    .header .mdl-layout__header-row {
      padding-left: 40px;
    }

    .container {
      max-width: 1600px;
      width: calc(100% - 16px);
      margin: 0 auto;
    }

    .content {

      border-radius: 2px;
      /*padding: 80px 56px;*/
      /*margin-bottom: 80px;*/
    }

    .layout.is-small-screen .content {
      /*padding: 40px 28px;*/
    }


.mdl-mini-footer {
  padding-left: 40px;
  background-color: #fafafa;
  position: relative;
}

.mdl-mini-footer--link-list a {
  font-size: 13px;
}
.mdl-mini-footer .mdl-mini-footer--social-btn {
  color: #9e9e9e;
  background-color: transparent;
}

/* Datatable */

.dataTables_wrapper {
  width: 100%;
}

table.dataTable {
  margin-top: 50px;
}
.mdl-data-table th {
  text-align: center;
}

.mdl-data-table td {
  text-align: center;
}
